
.icon-vcard:before { content: '\e800'; } /* '' */
.icon-rocket:before { content: '\e801'; } /* '' */
.icon-suitcase:before { content: '\e802'; } /* '' */
.icon-database:before { content: '\e803'; } /* '' */
.icon-archive:before { content: '\e804'; } /* '' */
.icon-folder:before { content: '\e805'; } /* '' */
.icon-leaf:before { content: '\e806'; } /* '' */
.icon-credit-card:before { content: '\e807'; } /* '' */
.icon-graduation-cap:before { content: '\e808'; } /* '' */
.icon-install:before { content: '\e809'; } /* '' */
.icon-battery:before { content: '\e80a'; } /* '' */
.icon-trash:before { content: '\e80b'; } /* '' */
.icon-cup:before { content: '\e80c'; } /* '' */
.icon-tools:before { content: '\e80d'; } /* '' */
.icon-cog:before { content: '\e80e'; } /* '' */
.icon-phone:before { content: '\e80f'; } /* '' */
.icon-rss:before { content: '\e810'; } /* '' */
.icon-user:before { content: '\e811'; } /* '' */
.icon-user-add:before { content: '\e812'; } /* '' */
.icon-users:before { content: '\e813'; } /* '' */
.icon-lock:before { content: '\e814'; } /* '' */
.icon-lock-open:before { content: '\e815'; } /* '' */
.icon-print:before { content: '\e816'; } /* '' */
.icon-comment:before { content: '\e817'; } /* '' */
.icon-book:before { content: '\e818'; } /* '' */
.icon-doc-text:before { content: '\e819'; } /* '' */
.icon-doc-text-inv:before { content: '\e81a'; } /* '' */
.icon-newspaper:before { content: '\e81b'; } /* '' */
.icon-picture:before { content: '\e81c'; } /* '' */
.icon-camera:before { content: '\e81d'; } /* '' */
.icon-video:before { content: '\e81e'; } /* '' */
.icon-mail:before { content: '\e81f'; } /* '' */
.icon-search:before { content: '\e820'; } /* '' */
.icon-flashlight:before { content: '\e821'; } /* '' */
.icon-window:before { content: '\e822'; } /* '' */
.icon-popup:before { content: '\e823'; } /* '' */
.icon-hourglass:before { content: '\e824'; } /* '' */
.icon-clock:before { content: '\e825'; } /* '' */
.icon-inbox:before { content: '\e826'; } /* '' */
.icon-mobile:before { content: '\e827'; } /* '' */
.icon-monitor:before { content: '\e828'; } /* '' */
.icon-signal:before { content: '\e829'; } /* '' */
.icon-progress-1:before { content: '\e82a'; } /* '' */
.icon-progress-2:before { content: '\e82b'; } /* '' */
.icon-progress-3:before { content: '\e82c'; } /* '' */
.icon-gauge:before { content: '\e82d'; } /* '' */
.icon-floppy:before { content: '\e82e'; } /* '' */
.icon-briefcase:before { content: '\e82f'; } /* '' */
.icon-clipboard:before { content: '\e830'; } /* '' */
.icon-drive:before { content: '\e831'; } /* '' */
.icon-bucket:before { content: '\e832'; } /* '' */
.icon-magnet:before { content: '\e833'; } /* '' */
.icon-infinity:before { content: '\e834'; } /* '' */
.icon-brush:before { content: '\e835'; } /* '' */
.icon-dot:before { content: '\e836'; } /* '' */
.icon-dot-3:before { content: '\e837'; } /* '' */
.icon-dot-2:before { content: '\e838'; } /* '' */
.icon-cloud:before { content: '\e839'; } /* '' */
.icon-cloud-thunder:before { content: '\e83a'; } /* '' */
.icon-flow-line:before { content: '\e83b'; } /* '' */
.icon-flow-tree:before { content: '\e83c'; } /* '' */
.icon-flow-branch:before { content: '\e83d'; } /* '' */
.icon-flow-cascade:before { content: '\e83e'; } /* '' */
.icon-flow-parallel:before { content: '\e83f'; } /* '' */
.icon-key:before { content: '\e840'; } /* '' */
.icon-thermometer:before { content: '\e841'; } /* '' */
.icon-lifebuoy:before { content: '\e842'; } /* '' */
.icon-lamp:before { content: '\e843'; } /* '' */
.icon-box:before { content: '\e844'; } /* '' */
.icon-share:before { content: '\e845'; } /* '' */
.icon-address:before { content: '\e846'; } /* '' */
.icon-map:before { content: '\e847'; } /* '' */
.icon-direction:before { content: '\e848'; } /* '' */
.icon-compass:before { content: '\e849'; } /* '' */
.icon-doc:before { content: '\e84a'; } /* '' */
.icon-docs:before { content: '\e84b'; } /* '' */
.icon-doc-landscape:before { content: '\e84c'; } /* '' */
.icon-download:before { content: '\e84d'; } /* '' */
.icon-upload:before { content: '\e84e'; } /* '' */
.icon-upload-cloud:before { content: '\e84f'; } /* '' */
.icon-thumbs-up:before { content: '\e850'; } /* '' */
.icon-thumbs-down:before { content: '\e851'; } /* '' */
.icon-flag:before { content: '\e852'; } /* '' */
.icon-bookmark:before { content: '\e853'; } /* '' */
.icon-bookmarks:before { content: '\e854'; } /* '' */
.icon-pencil:before { content: '\e855'; } /* '' */
.icon-feather:before { content: '\e856'; } /* '' */
.icon-keyboard:before { content: '\e857'; } /* '' */
.icon-book-open:before { content: '\e858'; } /* '' */
.icon-eye:before { content: '\e859'; } /* '' */
.icon-link:before { content: '\e85a'; } /* '' */
.icon-attach:before { content: '\e85b'; } /* '' */
.icon-home:before { content: '\e85c'; } /* '' */
.icon-menu:before { content: '\e85d'; } /* '' */
.icon-layout:before { content: '\e85e'; } /* '' */
.icon-calendar:before { content: '\e85f'; } /* '' */
.icon-bag:before { content: '\e860'; } /* '' */
.icon-basket:before { content: '\e861'; } /* '' */
.icon-shareable:before { content: '\e862'; } /* '' */
.icon-login:before { content: '\e863'; } /* '' */
.icon-logout:before { content: '\e864'; } /* '' */
.icon-mute:before { content: '\e865'; } /* '' */
.icon-sound:before { content: '\e866'; } /* '' */
.icon-mic:before { content: '\e867'; } /* '' */
.icon-location:before { content: '\e868'; } /* '' */
.icon-trophy:before { content: '\e869'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
.icon-tumblr:before { content: '\f315'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */
.icon-skype:before { content: '\f339'; } /* '' */
.icon-skype-circled:before { content: '\f33a'; } /* '' */